/* ========================================== */
/* =============   FOOTER    ================ */
/* ========================================== */

.centered-content {
    text-align: center;  /* Centrowanie tekstu w poziomie */
    padding-top: 100px;       /* Dodanie paddingu */
              /* Zmiana koloru tekstu */
}

.custom-link {
    color: inherit; /* Dziedziczy kolor tekstu z rodzica, co usunie niebieski kolor */
    text-decoration: none; /* Usuwa podkreślenie */
}

.custom-link:hover {
    color: grey; /* Zmienia kolor na szary przy najechaniu myszką */
}
