.scroll-container {
    max-height: 700px;
    overflow-y: auto;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 90%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 90%, transparent);
}

/* Styl dla przeglądarek opartych na WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 6px; /* Szerokość paska przewijania */
}

::-webkit-scrollbar-track {
    background: rgb(19 22 26);; /* Tło "toru" scrollbar */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa; /* Kolor suwaka */
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(19, 22, 26); /* Kolor suwaka przy najechaniu kursorem */
}

/* Dla Firefox (opcjonalnie, dla zapewnienia spójności) */
* {
    scrollbar-width: thin;             /* Cienki scrollbar */
    scrollbar-color: #aaa rgb(19 22 26);;     /* Kolory suwaka i tła */
}

.footer a {
    color:var(--text-color);
}

/* Domyślny motyw ciemny */
html[data-theme="dark"] {
    /* Tło */
    --bg-color: #0a0a0a;
    --bg-color-light: #1a1a1a;
    
    /* Tekst */
    --text-color: #ffffff;
    --text-color-light: #b5b5b5;
    
    /* Box */
    --box-bg: #1c1c1c;
    --box-border: #2c2c2c;
}

/* Motyw jasny */
html[data-theme="light"] {
    /* Tło */
    --bg-color: #ffffff;
    --bg-color-light: #f5f5f5;
    
    /* Tekst */
    --text-color: #0a0a0a;
    --text-color-light: #4a4a4a;
    
    /* Box */
    --box-bg: #ffffff;
    --box-border: #dbdbdb;
}

/* Aplikowanie kolorów */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.navbar {
    background-color: var(--bg-color-light);
}

.box {
    background-color: var(--box-bg);
    border: 1px solid var(--box-border);
}

.title, .subtitle {
    color: var(--text-color) !important;
}

.navbar-item, .navbar-link {
    color: var(--text-color-light);
}

.navbar-dropdown {
    background-color: var(--bg-color-light);
    border-color: var(--box-border);
}