.is-borderless {
    border:none;
}


/* ========================================== */
/* =============   STRONA GŁÓWNA    ========= */
/* ========================================== */


.strona-glowna{
  margin-top: 50px;
}
.cell{
    margin-left: 0px;
    align-items: center;
}

.subtitle{
    margin-top: 60px;
    margin-left: 50px;
    /* color: aliceblue; */
}

.is-1{
    margin-top: 60px;
    margin-left: 200px;
}

.is-5{
    margin-right: 30px;
    margin-left: 200px;
}

.is-3{
    margin-left: 100px;
}

h2{
    font-size: 30px;
    margin-left: 200px;
    margin-top: 40px;
}

.box{
    margin-left: 100px;
    margin-right: 100px;  
}
.is-6{
    padding: 0px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.no-gap{
    margin-top: 20px;
}


.scroll-container {
    position: relative;
    height: 650px; 
    overflow-y: auto; 
    display: flex;      
    flex-direction: column;     
    gap: 20px;     
    
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 15%, black 90%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 15%, black 90%, transparent);              /* Odstępy między boxami */
}
.field{
  margin-left: 200px;
  margin-top: 50px;  
}

/* ========================================== */
/* =============   FOOTER    ================ */
/* ========================================== */

.centered-content {
    text-align: center;  /* Centrowanie tekstu w poziomie */
    padding-top: 100px;       /* Dodanie paddingu */
              /* Zmiana koloru tekstu */
}

.custom-link {
    color: inherit; /* Dziedziczy kolor tekstu z rodzica, co usunie niebieski kolor */
    text-decoration: none; /* Usuwa podkreślenie */
}

.custom-link:hover {
    color: grey; /* Zmienia kolor na szary przy najechaniu myszką */
}
